
body{
   font-family: Arial, Helvetica, sans-serif;
   margin: 0;
   padding: 0;
   background: #97b3e5;
   font-size: 18px;
}
nav{
background: #2c7fec;
color: #FFF;
padding:15px;
}
nav a{
   color: #FFF;
   text-decoration: none;

}
.logo1{
   font-weight: bolder;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 30px;

}
.bar{
    font-weight: bolder;
    font-size: 20px;
   padding: 20px 30px;
   position: relative;
   float: right;
   
}
.texte0{
   text-align: center;
   font-size: 36px;
   width: 100%;
   height: 80VH;
   align-content: center;
   background: #2c7fec;
   color: #FFF;
}
.texte1{
 width: 1000px;
 text-align: justify;
 border: 1px solid transparent;
 border-radius: 20px;
 -webkit-border-radius: 20px;
 -moz-border-radius: 20px;
 -ms-border-radius: 20px;
 -o-border-radius: 20px;
 background-color: #FFF;
align-content: center;
margin: 20px 150px;
padding: 35px 55px;
}
.python-info{
   width: 700px;
   text-align: justify;
   border: 1px solid transparent;
   border-radius: 20px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   -ms-border-radius: 20px;
   -o-border-radius: 20px;
   background-color: #afc8f3;
   margin: 30px 0px;
   padding: 50px;
   position: relative;
   left: 100px;
   line-height: 25px;
   
}
h2{
   color: #201396;
   line-height: 10px;
   font-size: 25px;
}
h3{
   color: #201396;
 line-height: 10px;
 font-size: 25px;
}
h4{
   color: #201396;
   font-size: 25px;
}
h5{
   color: #201396;
   font-size: 25px;
   
}
ul{
   line-height: 35px;
   list-style: circle;
}
.texte2{
  text-align: justify;
  width: 1000px;
  border: 1px solid transparent;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: #FFF;
  padding: 50px 50px 50px 60PX;
  margin: 25px 150px;
}
#Contact{
   text-align: center;
   width: 100%;
   background-color: #FFF;
   padding: 20px;
   position: relative;
   top: 50px;
}
.texte3{
   position: relative;
   left: 450px;
   width: 500px;
   text-align: center;
   border: 1px solid transparent;
   border-radius: 25px;
   -webkit-border-radius: 25px;
   -moz-border-radius: 25px;
   -ms-border-radius: 25px;
   -o-border-radius: 25px;
   background-color: #f6f6f8;
   box-sizing: border-box;
   box-decoration-break: slice;
   -webkit-box-decoration-break: slice;
   padding: 20px;
   line-height: 30px;
   font-size: 16px;
  
}
form{
   display: flex;
   flex-direction: column;
 
}
input,textarea{
   padding: 12px;
   border: 1px solid #d1d8e6;
   border-radius: 8px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   -ms-border-radius: 8px;
   -o-border-radius: 8px;
   background-color: #FFF;
}
textarea{
   padding: 30px;

}
#send{
   background: #1502c2;
   color: #FFF;
   font-weight: bolder;
}
footer{
   background-color: #0f0850;
   bottom: 0;
   display: flex;
   flex-direction: row;
   color: #FFF;
   padding: 50px 0 10PX 0;
}
.gauche{
 font-size: 14px;
 position: relative;
left: 50px;
font-weight: 500;
}
.droit{
   font-size: 12px;
   position: relative;
   right: -350px;
   font-weight: lighter;
  
}
    position: relative;
    right: -550px;
    padding: 35pX;
    margin: 5px;
    font-size: medium;
  font-weight: bold;

}
 .bar:hover {
    color:orangered;
    text-decoration: underline;
 }

header{
width: 100%;
}
.logo,.logo1{
   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight: bolder;
   padding-left: 20px;
   font-size: 20px;
   font-style: normal;
   letter-spacing: 2.5px;
}

.imag1{
   width: 50%;
   height: 300px;
   background-size: contain;
   background-repeat: no-repeat;
   
  
}
#Accueil{
   background-color: white;
   color: #357ec7;
   height: 100vh;

}
h1{
  
   font-size: 25px;
   font-weight: bold;
   color: #010130;

}
 .sous-titre{
   color: white;
   font-size: 20px;
   font-weight: normal;

 }
.paragraphe1{ 
   padding-top: 30px;
   align-items: center;
   width: 100%;
   position: relative;
   left: 50px;
   text-align: justify;
}
.texte1{
   position: relative;
   right: -350px;
   bottom: 320px;
   width: 65%;
   text-align: justify;
   
}
button{
   background-color: #0b17c5;
   color: white;
   border: 1px solid transparent;
   padding: 10px 20px 10px 20px;
   font-size: medium;
   font-weight: bold;
   border-radius: 20px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   -ms-border-radius: 20px;
   -o-border-radius: 20px;

}
p{
   font-size: 18px;
}
#Apropos{
 margin: 50px;
 text-align: justify;

}
h4{
   color: #010130;
   font-weight: bolder;
}
.paragraphe2{
   position: relative;
   display: flex;
   
}
#illustration{
   width: 600PX;
   border: 1px solid transparent;
   border-radius: 25px;
   -webkit-border-radius: 25px;
   -moz-border-radius: 25px;
   -ms-border-radius: 25px;
   -o-border-radius: 25px;
}
.droit{
   padding: 35px;
}
#liste{
   color: rgb(5, 5, 48);
   font-weight: bold;
}
#Contact{
   border-radius: 30px;
   background-color: white;
   color: #0d19c7;
   padding: 10px;
   margin: 20px;
   position: relative;
   left: 350px;
   width: 600px;
   align-self: center;
   text-align: center;
   -webkit-border-radius: 30px;
   -moz-border-radius: 30px;
   -ms-border-radius: 30px;
   -o-border-radius: 30px;
}
h3{
   font-size: 25px;
   font-weight: bold;
   color: #0707e7;}
   .para{
      font-size: 16px;
   }
   #nom{
      padding: 20px 200px 20px 200px;
      color: #0b17c5;
      border: 2px solid #0b17c5;
      border-radius: 25px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -ms-border-radius: 25px;
      -o-border-radius: 25px;
      margin: 5px;
      
}
#email{
       padding: 20px 200px 20px 200px;
      color: #0b17c5;
      border: 2px solid #0b17c5;
      border-radius: 25px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -ms-border-radius: 25px;
      -o-border-radius: 25px;
      margin: 5px;
}
#nom::placeholder{
   color: #878cd8;
   position: relative;
      left: -170px;
}
   #email::placeholder{
      position: relative;
      left: -170px;
      color: #878cd8;
   }
textarea::placeholder{
    color: #878cd8;
   position: relative;
      left: -170px;}
   textarea{
 padding: 20px 200px 100px 200px;
       color: #878cd8;
      border: 2px solid #0b17c5;
      border-radius: 25px;
      -webkit-border-radius:25px;
      -moz-border-radius:25px;
      -ms-border-radius:25px;
      -o-border-radius:25px;
      margin: 5px;
}
#send{
 background-color: rgb(11, 26, 163);
 border: 1px solid transparent;
 padding: 20px 250px 20px 250px;
   border-radius: 20px;
 -webkit-border-radius: 20px;
 -moz-border-radius: 20px;
 -ms-border-radius: 20px;
 -o-border-radius: 20px;
 color: white;
 font-weight: bold;
}

footer{
   bottom: 0;
   background-color: #01011a;
   position: relative;
   height: auto;
   width: 100%;
   text-align: center;
   padding: 10px;
   clear: both;
   
}
footer div{
   display: flex;
   flex-direction: column;
   color: white;
}
footer div a{
 color: white;
 text-decoration: none;
 display: flex;
 flex-direction: column;
 font-size: 18px;
 font-weight: bold;
 line-height: 25px;
}
footer div a:hover{
   text-decoration: underline;
   color: orangered;
}
footer p{
   font-size: 16px;
}
.texte2{
   position: relative;
   left: -600px;
   width: 50%;
}
.imag2{
   width: 50%;
   height: 300px;
   background-size: contain;
   background-repeat: no-repeat;
   position: relative;
   right: -800px;
   top: 100px;
}
