/* ---------------- GLOBAL ---------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #fff;
    color: #222;
    line-height: 1.6;
}

img {
    width: 100%;
    border-radius: 16px;
}

/* ---------------- HEADER / NAVBAR ---------------- */

header {
    background-color: #1A73E8;
    padding: 15px 40px;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    font-size: 1.4rem;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}

nav .menu {
    display: flex;
    align-items: center;
    gap: 25px;
}

nav .menu a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

nav .menu a:hover,
nav .menu .active {
    color: #00d4ff;
}

.hamburger {
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

#menu-toggle {
    display: none;
}

/* -------- MENU RESPONSIVE ---------- */

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    nav .menu {
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        flex-direction: column;
        text-align: center;
        background: #1A73E8;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease;
        padding: 0;
        -webkit-transition: max-height 0.4s ease;
        -moz-transition: max-height 0.4s ease;
        -ms-transition: max-height 0.4s ease;
        -o-transition: max-height 0.4s ease;
}

    #menu-toggle:checked + .hamburger + .menu {
        max-height: 250px;
        padding-bottom: 15px;
    }

    nav .menu a {
        padding: 12px 0;
        width: 100%;
        border-top: 1px solid rgba(255,255,255,0.2);
    }
}

/* ---------------- SECTIONS ---------------- */

.section {
    padding: 60px 20px;
}

/* ---------------- HERO ---------------- */

.hero {
    position: relative;
   top: 70px;
    width: 100%;
    padding: 45px 20px;
    text-align: center;
    background: linear-gradient(to bottom, #02123d, #1c066d);
    color: white;
    border-radius: 20px;
    margin-bottom: 40px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

/* HERO IMAGES */

.section{
    width: 100%;
    height: auto;
}

.images-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 30px auto;
}
.hero-img2 {
    width: 250px;
   height: 250px;
   position: relative;
   bottom: 100px;
   right: -300px;
   top: -95px;
   object-fit: cover;
   border: 4px solid #00D4FF;
   box-shadow: 0 0 15px rgba(0,212,255,0.4);
}

.hero-img1{
    width: 250px;
   height: 250px;
   left: -300px;
   top: -280px;
   position: relative;
   bottom: 200px;
   object-fit: cover;
   border: 4px solid #00D4FF;
   box-shadow: 0 0 15px rgba(0,212,255,0.4);
}
.CAR {
    position: relative;
    bottom: 50Px;
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background: blue;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

/* ---------------- BOXES ---------------- */

.white-box {
    display: flex;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}


.white-box p {
    color: #01071a;
    background-color: #a9adc5;
    border: 1px solid #2d2dd3;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 3px 3px 6px rgba(49, 9, 226, 0.4);
    flex: 1;
    min-width: 280px;
    text-align: justify;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.info-box {
    background: #afc8f3;
    padding: 30px;
    border-radius: 20px;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.py-image {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.box1, .box2 {
    flex: 1;
    min-width: 280px;
    color: #0a0114;
}
.CONTENENT{
    width: 100%;
    display: flex;
 flex-direction: row;
  gap: 15PX;
}
.droit{
    width: 100%;
    border-radius: 20px;
    height: 300px;
    background-image: url(Assets/FB_IMG_17641753004408307.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.gauche{
    max-width: 500px;
    height: auto;
    color: #01071a;
}
.btn-more{
    color: white;
    background-color: rgb(6, 84, 156);
    font-size: 16px;
    font-weight: bolder;
    padding: 14px;
    border-radius: 20px;
    text-decoration: none;
}


/* ---------------- CONTACT ---------------- */
h2{
    text-align: center;
    color: #072580;
}
.contact-box p{
color: #010113;
text-align: center;
}
#Contact {
    background-color: #180253;
    color: white;
    padding-top: 50px;
}

.contact-box {
    max-width: 600px;
    margin: auto;
    background: white;
    color: black;
    padding: 35px;
    border-radius: 20px;
}
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contact-form input,
.contact-form textarea {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #7d9fe2;
    background-color: #e4e6f4;
    font-size: 16px;
   
}

.contact-form textarea {
    height: 120px;
}

#send {
    background: #1502c2;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
   
}

#send:hover {
    background: #00b6d8;
}

/* ---------------- FOOTER ---------------- */

footer {
    background: #1A73E8;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    font-size: 14px;
}
footer p{
    margin: 5px;
}

/* ---------------- RESPONSIVE GLOBAL ---------------- */

@media (max-width: 768px) {
    *{
        margin: 10px 0;
    }
    .hero h1 {
        font-size: 1.8rem;
    }

    .white-box {
        flex-direction: column;
    }

    .info-box {
        flex-direction: column;
    }

    .images-container {
        display: none; /* optionnel : pour simplifier l’affichage mobile */
    }
.CAR{
    display: none;
}
.section{
   padding: 10px;
   height: auto;
}
.CONTENENT{
    width: 100%;
    display: flex;
 flex-direction: column;

}
footer{
    font-size: 12px;
}

}
@media (max-width: 1024px){
.images-container{
    display: none;
}

}
